<br><br><br>
 <div class="container">
    <div class="row">
        <% @days.each do |day| %>
      <div class="col s12 m4 cardy">
       
       
        <div class="card  card-panel teal lighten-<%=rand(3)%>">
            <span class="card-title">Day <%= day.id %> </span>
          <div class=" center-item">
          <span class=" white-text "><h3><%= day.title %></h3>
          <p><%= day.progress %></p><br>
          <p><%= day.thought %></p>
          </span></div>
        
         <div class="card-action end">
              <a href=http://<%= day.link %>>Show link</a>
              <a href=https://<%= day.hub %>>Github link</a>
      
      </div>
      </div>
      </div>
      <% end %>
    </div>
</div>